// reset, mports fonts, etc...
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Radio+Canada:wght@300&display=swap');


@font-face {
    font-family: 'Sell Your Soul';
    src: url(/public/font/SellYourSoul.ttf)  format("truetype") ;
}

*, *:before, *:after  {
    box-sizing: border-box;
}




